@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .side-bar-link-list {
        @apply px-3 py-2 rounded-sm mb-2 transition duration-150 text-base;
      }
    .side-bar-link {
      @apply block text-gray-200 hover:text-white truncate transition duration-150;
    }
  }



@layer utilities {
    .dot {
      background-color: #fff;
      background-image: radial-gradient(#6c757d 1%, transparent 5%);
      background-size: 40px 40px;
      background-position: 0 0, 20px 20px;
      background-repeat: repeat;
    }
  }  